<div *ngIf="(scheduledServices | async) as services; else loading">

  <div *ngIf="services.length > 0; else empty">

  <h4 class="title">{{equipmentName}}</h4>

  <div class="container mat-elevation-z8">

    <table mat-table [dataSource]="services" multiTemplateDataRows>
      <ng-container matColumnDef="{{column.name}}"
        *ngFor="let column of columns">
      <th mat-header-cell *matHeaderCellDef class="header">{{column.display}}</th>
      <td mat-cell *matCellDef="let element" class="column">
        {{element[column.name]}}</td>
      </ng-container>

      <!--  Expanded Content Column - The detail row is made up of this one column that spans across all columns-->
      <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let service"
        [attr.colspan]="displayedColumns.length">
        <div class="element-detail"
          [@detailExpand]="service == expandedElement ? 'expanded' : 'collapsed'">
          <button authorizationDirective mat-raised-button class="btn btn-update" color="accent" (click)="updateScheduledService(service.id,equipmentName)">Update</button>
          <button authorizationDirective mat-raised-button class="btn btn-delete" color="warn" (click)="deleteScheduledService(service.id)">Delete</button>
        </div>
      </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>

      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"></tr>

    </table>

  </div>
  <button authorizationDirective mat-raised-button class="btn btn-create" color="accent" (click)="createScheduledService(id,equipmentName)">Add Service</button>
  </div>

  <ng-template #empty>
    <h4 class="title">{{equipmentName}}</h4>
    <h4 class="alert alert-warning" >There are currently no services scheduled for this equipment.</h4>
    <button authorizationDirective mat-raised-button class="btn" color="accent" (click)="createScheduledService(id,equipmentName)">Add Service</button>
  </ng-template>
  </div>

  <ng-template #loading>
    <h4>Loading Data...Please Wait.</h4>
  </ng-template>







