form{
  text-align: center;
}
.title{
	display:flex;
	justify-content:center;
	align-items: center;
}
.mat-form-field{
  width:50%;
	margin-bottom:10px;
}

.button {
	text-align: center;

}
.btn{
	width:8em;
}

#warranty{
  padding-left: 10px;
}
