<div *ngIf="(measurement | async) as measurement; else loading">

<div *ngIf="measurement.length > 0; else empty">

<h4 class="title">{{memberName}}</h4>

<div class="container mat-elevation-z8">

	<table mat-table [dataSource]="measurement" multiTemplateDataRows>
		<ng-container matColumnDef="{{column.name}}" *ngFor="let column of columns">
		  <th mat-header-cell *matHeaderCellDef class="header">{{column.display}}</th>
		  <td mat-cell *matCellDef="let element" class="column">{{element[column.name]}}</td>
		</ng-container>

		<!--  Expanded Content Column - The detail row is made up of this one column that spans across all columns-->
		<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let measurement"
			[attr.colspan]="displayedColumns.length">
			<div class="element-detail"
				[@detailExpand]="measurement == expandedElement ? 'expanded' : 'collapsed'">
				<button authorizationDirective mat-raised-button class="btn btn-update" color="accent" (click)="updateMeasurement(measurement.id,memberName)">Update</button>
				<button authorizationDirective mat-raised-button class="btn btn-delete" color="warn" (click)="deleteMeasurement(measurement.id)">Delete</button>
			</div>
		</td>
		</ng-container>



		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

		<tr mat-row *matRowDef="let element; columns: displayedColumns;"
			class="element-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="expandedElement = expandedElement === element ? null : element">
		</tr>

		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
			class="detail-row"></tr>

	</table>

  <h4 class="disclaimer">Units are measured in centimeters, kilograms, % and bpm (beats per minute)</h4>

</div>
<button authorizationDirective mat-raised-button class="btn btn-create" color="accent" (click)="createMeasurement(id,memberName)">Add Measurement</button>
</div>

<ng-template #empty>
	<h4 class="alert alert-warning" >No measurements avilable. Would you like to create one?</h4>
	<button authorizationDirective mat-raised-button class="btn" color="accent" (click)="createMeasurement(id,memberName)">Add Measurement</button>
</ng-template>
</div>

<ng-template #loading>
	<h4>Loading Data...Please Wait.</h4>
</ng-template>






