<form (ngSubmit)="onSubmit()" #f="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput id="username" required [(ngModel)]="form.username" name="username">
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" required [(ngModel)]="form.password" name="password">
  </mat-form-field>
  <br>

  <div class="button">
    <button [disabled]="f.form.invalid" type="submit" class="btn btn-success">Submit</button>
  </div>

</form>


