
.title{
	display:flex;
	justify-content:center;
	align-items: center;
}

form{
  text-align: center;
}

.form-field{
	width:50%;
	margin-bottom:10px;
}

.button {
	text-align: center;
}

.btn{
	width:8em;
}

