
<div class="container">
<form (ngSubmit)="onSubmit()" #f="ngForm">

  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput id="fullName" required [(ngModel)]="member.fullName" name="fullName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
  	<mat-label>Date of Birth</mat-label>
  	<input matInput [matDatepicker]="picker" id="dateOfBirth" required [(ngModel)]="member.dateOfBirth" name="dateOfBirth" >
  	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  	<mat-datepicker #picker></mat-datepicker>
</mat-form-field>
  <br>
  

 <label id="sex-label">Sex</label>
<mat-radio-group required class="radio" aria-labelledby="sex-label" id="sex"  name="sex" [(ngModel)]="member.sex" #selected="ngModel">
  <mat-radio-button value="M" >Male</mat-radio-button>
  <mat-radio-button value="F" >Female</mat-radio-button>
</mat-radio-group>
<div class="radio-validation" *ngIf="selected.errors?.required">Sex is required!</div>


<br>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput id="email" required [(ngModel)]="member.email" name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
    <span matSuffix>@</span>
  </mat-form-field>
  <br>
   <mat-form-field appearance="outline">
    <mat-label>Diet</mat-label>
    <mat-select name="diet" id="diet" required [(ngModel)]="member.diet">
      <mat-option value="Vegetarian">Vegetarian</mat-option>
      <mat-option value="Paleo">Paleo</mat-option>
      <mat-option value="Omnivore">Omnivore</mat-option>
      <mat-option value="Vegan">Vegan</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Contact Number</mat-label>
   <!--   <span matPrefix>+ &nbsp;</span> -->
    <input type="text" appNumbersOnly name="contactNumber" [(ngModel)]="member.contactNumber" pattern="[0-9]{4,16}" matInput placeholder="098555666" onPaste="return false" onDrop="return false" required>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <br>
  <div class="button">
	<button [disabled]="f.form.invalid" type="submit" class="btn btn-success">Submit</button>
</div>
</form>
</div>




