
.title{
	display:flex;
	justify-content:center;
	align-items: center;
}

form{
  text-align: center;
}

.radio,#sex-label{
	display:flex;
	justify-content:center;
	align-items: center;
	margin-bottom:10px;
}

.mat-form-field{
	width:50%;
	margin-bottom:10px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.button {
	text-align: center;
}
.btn{
	width:8em;
}
