<form (ngSubmit)="onSubmit()" #f="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput id="username" required [(ngModel)]="form.username" name="username">
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" required [(ngModel)]="form.password" name="password">
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select name="role" id="role" required [(ngModel)]="form.role">
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="user">User</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button">
    <button [disabled]="f.form.invalid" type="submit" class="btn btn-success">Submit</button>
  </div>

  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
    Signup failed!<br />{{ errorMessage }}
  </div>

</form>

<div class="alert alert-success" *ngIf="isSuccessful">
  Your registration is successful! You will be redirected to the home page shortly.
</div>
